* {
	margin: 0;
	padding: 0;
	font-family: 'Fredericka the Great';
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 7px;
}

body {
	visibility: hidden;
	width: 100vw;
	height: 100vh;
}

.background {
	width: 100vw;
	height: 100vh;
	background-image: url('./assets/visual/background.png');
	background-size: cover;
	z-index: -100;
}

.start-message {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	height: 200px;
	width: 350px;

	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 2rem;
}

.game-over {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	height: 100px;
	width: 350px;

	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 2rem;
}

.game-over h2 {
	font-size: 75%;
}

.score {
    position: absolute;
    top: 2rem;
    right: 3rem;
	color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px 20px; 
    border-radius: 20px; 
    font-size: 1rem; 
    box-shadow: 0 0 10px 10px #fff, 
                0 0 20px 10px #fff,
                0 0 30px 15px #fff; 
    border: none; 
}

.bird {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	height: 10vh;
}

.ship {
	position: relative;
	display: inline-block;
}

#ship-1 {
	height: 45vh;
	width: 16vh;
}

#ship-2 {
	height: 35vh;
	width: 15vh;
}

#ship-3 {
	height: 25vh;
	width: 12vh;
}

#ship-4 {
	height: 15vh;
	width: 8vh;
}

.ship-boundary {
	border: 1px solid white;
	position: absolute;
	top: 0;
	left: 24%;
	height: 100%;
	width: 50%;
}