* {
	margin: 0;
	padding: 0;
	font-family: 'Fredericka the Great';
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 7px;
	color: white;
}

body {
	visibility: hidden;
	width: 100vw;
	height: 100vh;
}

.background {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-image: url('./assets/visual/background.png');
	background-size: cover;
	background-position: center;
	overflow: hidden;
	z-index: -100;
}

.start-message {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	height: auto;
	width: 300px;

	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.448);
	padding: 2rem;
}

.start-message h2 {
	font-size: 75%;
	margin: 30px;
}

.start-message h3 {
	font-size: 55%;
}

.game-over {
	display: none;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.448);
	padding: 2rem;
}

.ready-message {
	display: none;
	position: absolute;
	text-align: center;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.448);
	padding: 0.5rem;
}

.game-over h1 {
	font-size: 100%;
}

.game-over h2 {
	font-size: 75%;
}

.game-over img {
	width: 100px;
}

.score {
	display: none;
	position: absolute;
	top: 2rem;
	right: 3rem;
	color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.678);
	padding: 1px 10px 10px;
	border-radius: 20px;
	letter-spacing: 2px;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.678),
		0 0 20px 10px rgba(0, 0, 0, 0.678),
		0 0 30px 15px rgba(0, 0, 0, 0.678);
	border: none;
	z-index: 50;
}

.score-message {
	font-size: 20px;
	letter-spacing: 5px;
}

.score-value {
	font-size: 20px;
	letter-spacing: 5px;
}

.high-score-play {
	font-size: 20px;
	letter-spacing: 5px;
}

.high-score-play {
	font-size: 20px;
	letter-spacing: 5px;
}

.bird {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 5vh;
}

.ships {
	position: absolute;
	display: grid;
	grid-template-rows: auto 17vh auto;
	height: 100vh;
	width: 12vh;
	left: 100%;
}

.ships>.top {
	position: relative;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.ships>.bottom {
	position: relative;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#ship-up {
	top: 0;
	height: 100%;
	width: 12vh;
}

#ship-down {
	bottom: 0;
	height: 100%;
	width: 12vh;
}

#bounds-up {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 20%;
	height: 100%;
}

#bounds-down {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 20%;
	height: 100%;
}



.surprised-elon {
	position: absolute;
	width: 8rem;
	left: 12%;
	top: 35%;
	transform-origin: center center;

	display: none;
	z-index: 100;
}

.surprised-elon img {
	width: 100%;
}

.laughing-duo {
	display: grid;
	position: relative;
	grid-template-rows: 2fr 1fr;
	align-self: center;
	margin: auto;
	width: 50vmin;
}

.laughing-elon {
	width: 25vmin;
	display: none;
	z-index: 100;
}

.laughing-elon img {
	width: 100%;
}

.thought {
	width: 45vmin;
	align-self: flex-end;
	justify-self: flex-end;

	display: none;
	z-index: 100;
}

.surprised-elon.animate {
	display: block;
	animation: shake 0.85s ease-in-out 1;
}

.laughing-elon.animate {
	display: block;
	animation: shake 1s ease-in-out 2;
}

@keyframes shake {

	0%, 100% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(-10deg);
	}

	50% {
		transform: rotate(10deg);
	}

	75% {
		transform: rotate(-10deg);
	}
}









@media screen and (max-width: 850px) and (min-width: 500px) {

	.game-over {
		width: 375px;
	}

	.game-over h1 {
		font-size: 85%;
	}
	
	.game-over h2 {
		font-size: 65%;
	}
	
	.game-over img {
		width: 85px;
	}

    .surprised-elon {
		position: absolute;
		width: 6rem;
		left: 12%;
		top: 35%;
		transform-origin: center center;
	
		display: none;
		z-index: 100;
	}
	
	.surprised-elon img {
		width: 100%;
	}

	.laughing-duo {
		width: 60vmin;
	}
	
	.laughing-elon {
		width: 28vmin;
	}
	
	.thought {
		width: 48vmin;
	}
}









@media screen and (max-width: 500px) {
	html {
		height: 85vh;
		position: relative;
	}

	body{
		height: 85vh;
	}

	.background {
		height: 85vh;
	}

	.start-message {
		width: 200px;
		padding: none;
	}
	
	.start-message h2 {
		font-size: 55%;
		padding: 0;
		margin: 0;
		margin-top: 1rem;
	}
	
	.start-message h3 {
		font-size: 55%;
	}

	.ready-message h1{
		font-size: 0.5rem;
	}

	.score {
		display: none;
		top: 1rem;
		right: 1rem;
		padding: 1px 7px 7px;
		border-radius: 20px;
		letter-spacing: 2px;
		box-shadow: 0 0 10px 10px #fff,
			0 0 20px 10px #fff,
			0 0 30px 15px #fff;
		border: none;
		z-index: 50;
	}
	
	.score-message {
		font-size: 15px;
		letter-spacing: 3px;
	}
	
	.score-value {
		font-size: 15px;
		letter-spacing: 3px;
	}

	.high-score-play {
		font-size: 15px;
		letter-spacing: 3px;
	}

	.bird {
		height: 4vh;
	}

	.game-over {
		width: 200px;
	}

	.game-over h1 {
		font-size: 75%;
	}
	
	.game-over h2 {
		font-size: 50%;
	}
	
	.game-over img {
		width: 75px;
	}

    .surprised-elon {
		position: absolute;
		width: 5rem;
		left: 0;
		top: 35%;
		transform-origin: center center;
	
		display: none;
		z-index: 100;
	}
	
	.surprised-elon img {
		width: 100%;
	}

	.laughing-duo {
		width: 70vmin;
	}
	
	.laughing-elon {
		width: 40vmin;
	}
	
	.thought {
		width: 55vmin;
	}

	.ships {
		position: absolute;
		grid-template-rows: auto 17vh auto;
		height: 85vh;
		width: 10vh;
		left: 100%;
	}
	
	.ships>.top {
		display: flex;
	}
	
	.ships>.bottom {
		position: relative;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	
	#ship-up {
		top: 0;
		height: 120%;
		width: 10vh;
	}
	
	#ship-down {
		bottom: 0;
		height: 80%;
		width: 10vh;
	}
	
	#bounds-up {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 20%;
		height: 100%;
	}
	
	#bounds-down {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 20%;
		height: 100%;
	}
}