* {
	margin: 0;
	padding: 0;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

body {
	width: 100vw;
	height: 100vh;
}

.background {
	/* width: 100vw;
	height: 100vh;
	position: fixed; */
	/* object-fit: cover; */
	width: 100vw;
	height: 100vh;
	background-image: url('./assets/visual/background.png');
	background-size: cover;
	z-index: -100;
}

